body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: Scania;
    src: url(../fonts/ScaniaSansCY-Regular.ttf);
}

:root {
    --main-color: rgba(255,207,122,1);
    --white: #fff;
    --dark-gray:rgba(109,109,109,1);
    --gray: rgba(148,148,148,1);
    --dark: #181818
}

* {
    font-family: 'Raleway', serif;
    color: var(--white);
    box-sizing: border-box;
    text-decoration: none;
    object-fit: cover;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.center{
    justify-content: center;
    align-items: center;
}
/* header start */
header{
    background-color: var(--dark);
    padding: 70px 0;
}
.header-left{
    gap: 20px;
}
.header-left .logo{
    font-size: 32px;
    font-weight: 500;
}
.header-left .slogan{
    width: 100px;
    color: var(--dark-gray);

}
.header-right{
    gap: 30px;
}
/* nav */
nav{
    gap: 50px;
}
nav .navLink{
    font-size: 20px;
    color: var(--gray);
    transition: all ease-in-out 0.4s;
}
nav .navLink:hover{
    color: var(--main-color);
    text-shadow: 1px 1px 7px var(--main-color);
}
.navLink.activeNav{
    color: var(--main-color);
}

.social a{
    padding: 10px;
    background-color: var(--main-color);
    border-radius: 3px;
    transition: all ease-in-out 0.4s;
}
.social a:hover{
    box-shadow: 0 0 9px var(--main-color);
}
/* header end */