body {
    margin: 0;
    padding: 0;
    background: #1d1d1d url(../images/bg.jpg);
    background-size: contain;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: Scania;
    src: url(../fonts/ScaniaSansCY-Regular.ttf);
}

@font-face {
    font-family: RalewayBold;
    src: url(../fonts/Raleway-ExtraBold.ttf);
}

:root {
    --main-color: rgba(255, 207, 122, 1);
    --white: #fff;
    --dark-gray: rgba(109, 109, 109, 1);
    --gray: rgba(148, 148, 148, 1);
    --dark: #181818
}

* {
    font-family: 'Raleway', serif;
    color: var(--white);
    box-sizing: border-box;
    text-decoration: none;
    object-fit: cover;
}

.container {
    max-width: 1194px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.center {
    justify-content: center;
    align-items: center;
}

/* header start */
header {
    /* background-color: var(--dark); */
    padding: 70px 0;
}

.header-left {
    gap: 20px;
}

.header-left .logo {
    font-size: 32px;
    font-weight: 500;
}

.header-left .slogan {
    width: 100px;
    color: var(--dark-gray);

}

.header-right {
    gap: 30px;
}

/* nav */
nav {
    gap: 50px;
}

nav .navLink {
    font-size: 20px;
    color: var(--gray);
    transition: all ease-in-out 0.4s;
}

nav .navLink:hover {
    color: var(--main-color);
    text-shadow: 1px 1px 7px var(--main-color);
}

.navLink.activeNav {
    color: var(--main-color);
}

.social a {
    padding: 10px;
    border-radius: 3px;
    background: rgb(240, 214, 160);
    background: linear-gradient(45deg, rgba(240, 214, 160, 0.9640449929971989) 0%, rgba(222, 173, 72, 1) 100%);
    transition: all ease-in-out 0.4s;
}

.social a:hover {
    box-shadow: 0 0 9px var(--main-color);
}

/* header end */

/* hero start */
main {
    /* background-color: var(--dark); */
}

.hero {
    padding: 20px 0 70px 0;
}

.hero-left,
.hero-right {
    width: 50%;
}

.hero-left {
    gap: 20px;
}

.hero-left .hero-heading {
    font-size: 64px;
    background: linear-gradient(183deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-left .hero-price {
    color: var(--main-color);
    font-size: 24px;
}

.hero-left .hero-icons {
    width: 270px;
    text-align: center;
    gap: 60px;
    margin-top: 50px;
}

.hero .hero-right img {
    width: 100%;
    margin-top: 40px;
    position: relative;
    z-index: 2;
}

.hero .hero-right::after {
    content: '';
    width: 350px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    right: 18%;
    background: var(--main-color);
    filter: blur(60px);
}

/* hero end */

/* fire start */
.fire-section {
    padding: 70px 0;
    gap: 20px;
}

.fire-top {
    width: 50%;
}

.fire-img {
    position: relative;
}

.fire-img::before {
    content: '';
    width: 70%;
    height: 30%;
    position: absolute;
    border-radius: 50%;
    top: 30%;
    right: 18%;
    background: var(--main-color);
    filter: blur(75px);
}

.fire-img img {
    width: 100%;
}

.fire-section .fire-heading {
    font-size: 40px;
    background: linear-gradient(183deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 16ch;
    text-align: center;
    line-height: 1.3;
}

.fire-section .fire-txt {
    font-size: 20px;
    text-align: center;
}

.fire-bottom {
    width: 100%;
}

.fire-bottom-icons {
    gap: 20px;
}

.fire-bottom-icons p {
    width: 250px;
}

/* fire end */

/* refill start */
.refill-section {
    padding: 70px 0;
}

.refill-left,
.refill-right {
    width: 50%;
}

.refill-left {
    gap: 15px;
    position: relative;
}


.refill-heading {
    font-size: 40px;
    background: linear-gradient(185deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.refill-left p {
    width: 70%;
    line-height: 1.3;
}

.refill-txt {
    font-size: 18px;
}

.refill-right img {
    width: 100%;
    margin-top: -10%;
}

.refill-right {
    position: relative;
}

.refill-right::before {
    content: '';
    width: 45%;
    height: 30%;
    position: absolute;
    border-radius: 50%;
    top: 15%;
    right: 22%;
    background: var(--main-color);
    filter: blur(65px);
}

.circle-pop {
    border-radius: 50%;
    height: 190px;
    width: 190px;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 207, 122, 1) 100%);
    position: absolute;
    top: 10%;
    right: 10%;
}

.circle-pop * {
    color: black;
    text-align: center;
    margin: 0;
}

.circle-pop h2 {
    font-size: 35px;
    font-family: 'RalewayBold';
}

.circle-pop p {
    font-size: 20px;
    line-height: 1.3;
    margin-top: 10px;
}

.empty-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    position: absolute;
    top: 40%;
    left: 28%;
}

.empty-circle.second-circle {
    width: 120px;
    height: 120px;
    top: 48%;
    left: 39%;
}

.refill-additional {
    position: absolute;
    top: 65%;
    right: -35%;
}

.refill-additional span {
    display: inline-block;
    width: 31px;
    height: 1px;
    background: #949494;
    margin: 0 10px 7px 10px;
}

.refill-additional p {
    font-size: 14px;
    width: 200px;
}

/* refill end */

/* smart fireplace start */
.smart-fire {
    padding: 40px 0;
}

.smart-fire-heading {
    font-size: 40px;
    background: linear-gradient(181deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.smart-fire-txt {
    font-size: 20px;
    text-align: center;
}

.smart-fire-img img {
    width: 100%;
}


/* smart fireplace end */

/* catalog start */
.catalog {
    padding: 70px 0;
    gap: 40px;
}

.catalog-left,
.catalog-right {
    width: 50%;
    gap: 30px;
}

.catalog-left-top-section {
    gap: 25px;
}

.catalog-left-top-section div img {
    width: 100%;
}

.catalog-left-top-section p.catalog-small-line {
    text-decoration: 1px underline var(--main-color);
    text-underline-offset: 15px;
    position: relative;
}

.catalog-left-top-section p.catalog-small-line::after {
    content: '';
    width: 70px;
    height: 1px;
    background: var(--main-color);
    position: absolute;
    transform: rotate(45deg);
    bottom: -37.5px;
    left: 75.6%;
}

.catalog-left-middle-heading {
    color: var(--gray);
    margin-bottom: 0;
}

.catalog-left-bottom-heading {
    color: var(--gray);
}

.catalog-left-middle {
    width: 63%;
}

.catalog-right * {
    line-height: 1.3;
}

.catalog-right h2 {
    margin-top: 0;
}

/* swiper */
.swiper {
    margin-top: 41px;
    width: 100%;
    height: 45%;
}

/* .swiper-wrapper{
    transition-timing-function: linear;
} */
.swiper-slide {
    text-align: center;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--main-color);
    top: 92%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 18px;
}

.swiper-button-next {
    left: 10%;
}

/* catalog bottom swiper */
.catalog-section-bottom-swiper {
    margin-top: 40px;
}

.catalog-bottom-swiper-left,
.catalog-bottom-swiper-right {
    width: 48%;
}

/* catalog btn section */
.catalog-btn-container {
    margin-top: 0;
    padding-bottom: 70px;
    text-align: center;
}

.catalog-btn-heading {
    text-align: center;
    margin-top: 0;
    margin-bottom: 60px;
}

.catalog-btn {
    padding: 15px 40px;
    background: rgb(244, 122, 76);
    background: linear-gradient(70deg, rgba(244, 122, 76, 1) 0%, rgba(246, 230, 201, 1) 100%);
    border-radius: 3px;
    color: #000;
    transition: all ease-in-out 0.5s;
    font-weight: bold;
}

.catalog-btn:hover {
    box-shadow: 0 0 15px var(--main-color);
}

/* catalog end */

/* solution start */
.solution,
.laboratory {
    padding: 70px 0;
}

.solution h2,
.laboratory h2 {
    font-size: 40px;
    text-align: center;
    background: linear-gradient(181deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.solution-images div img,
.laboratory-images div img {
    width: 100%;
}

/* solution end */

/* laboratory start */
.laboratory h2 {
    line-height: 1.3;
}

/* laboratory end */

/* fireplace author start */
.fireplace-author {
    padding: 70px 0;
}

.fireplace-author h2 {
    margin-bottom: 50px;
    font-size: 40px;
    text-align: center;
    background: linear-gradient(181deg, #FFF 0%, rgba(255, 255, 255, 0.18) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.author-top-left {
    width: 40%;
}

.author-top-right {
    width: 50%;
    gap: 15px;

}

.author-top .author-top-left img {
    width: 100%;
}

/*custom range slider */
.author-top-right-range-slider {
    width: 90%;
}

.author-top-right-range-slider p {
    margin-top: 0;
}

.author-top-right-range-slider p,
.author-top-right-swiper p {
    font-size: 12px;
    font-weight: bold;
    color: var(--gray);
}

.slider {
    appearance: none;
    width: 90%;
    height: 2px;
    background: var(--main-color);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: 47px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: var(--main-color);
    cursor: pointer;
    border-radius: 3px;
}

.slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: var(--main-color);
    cursor: pointer;
}

.slider.author-slider {
    position: relative;
}

.slider.author-slider::before {
    position: absolute;
    content: '0.5 m';
    top: -10px;
    left: -50px;
    font-size: 18px;
    color: #fff;
}

.slider.author-slider::after {
    position: absolute;
    content: '10 m';
    top: -10px;
    right: -50px;
    font-size: 18px;
    color: #fff;
}

/* swiper after range slider */
.author-top-right-swiper .swiper {
    width: 70%;
    float: left;
    margin-top: 0;
}

.author-top-right-swiper .swiper img {
    width: 80%;
}

.author-top-right-swiper .swiper-button-next,
.author-top-right-swiper .swiper-button-prev {
    top: 50%;
}

.author-top-right-swiper .swiper-button-prev {
    left: 0;
}

.author-top-right-swiper .swiper-button-next {
    right: 0;
    left: unset;
}

.author-top-right-swiper .swiper-slide {
    background-color: transparent;
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-bullets-dynamic {
    bottom: 0;
}

.swiper-pagination-bullet-active {
    background-color: var(--main-color);
}

/* additional functions */
.additional-functions p {
    font-size: 12px;
    font-weight: bold;
    color: var(--gray);
}

.additional-functions-list-left,
.additional-functions-list-right {
    gap: 10px;
    width: 50%;
}

.additional-functions-list-left label,
.additional-functions-list-right label {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* custom input checkbox */
input[type='checkbox'] {
    width: 14px;
    height: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: 1px solid var(--main-color);
    box-shadow: none;
    text-align: center;
    line-height: 1em;
    background: transparent;
}

input[type='checkbox']:checked:after {
    content: '+';
    color: black;
    font-size: 20px;
}

input[type='checkbox']:checked {
    background-color: var(--main-color);
}

/* checkboxes */

/* author bottom */
.author-bottom {
    margin: 70px 0;
}

.author-bottom p {
    font-size: 18px;
    font-weight: bold;
    color: var(--gray);
}

.author-bottom .author-bottom-btn {
    padding: 15px 40px;
    background: rgb(244, 122, 76);
    background: linear-gradient(70deg, rgba(244, 122, 76, 1) 0%, rgba(246, 230, 201, 1) 100%);
    border-radius: 3px;
    color: #000;
    transition: all ease-in-out 0.4s;
    font-weight: bold;
}

.author-bottom .author-bottom-btn:hover {
    box-shadow: 0 0 15px var(--main-color);
}
/* data */
.fireplace-length-value,.fireplace-price-value{
    display: inline;
}
/* fireplace author end */